datafoundation_adf/pipeline/archiveversion_pl_copy_activity_parquet_snowflake_copy.json
{
	"name": "archiveversion_pl_copy_activity_parquet_snowflake_copy",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "landing_zone_dfs_parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.landing_container_name",
								"type": "Expression"
							},
							"folder_path": {
								"value": "@pipeline().parameters.landing_folder_path",
								"type": "Expression"
							},
							"filename_with_extension": {
								"value": "@pipeline().parameters.landing_file_extension",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure",
						"itemName",
						"itemType",
						"columnCount",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(pipeline().parameters.current_object_schema),string(activity('Get Metadata1').output.structure))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[sp_load_object_catalog_version]",
								"storedProcedureParameters": {
									"connection_id": {
										"value": "1",
										"type": "Int32"
									},
									"object_catalog_id": {
										"value": "1",
										"type": "Int32"
									},
									"object_catalog_version": {
										"value": "1",
										"type": "Int32"
									},
									"object_name": {
										"value": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"object_schema_script": {
										"value": {
											"value": "@{activity('Get Metadata1').output.structure}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "datamgmt_azuresqldb",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "parquet copy to snowflake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.landing_folder_path",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"storageIntegration": {
											"value": "bronze_storage_dev",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "landing_zone_blob_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.landing_container_name",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@pipeline().parameters.landing_folder_path",
											"type": "Expression"
										},
										"filename_with_extension": {
											"value": "@pipeline().parameters.landing_file_extension",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "snowflake_object",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": "test",
										"tablename": "test"
									}
								}
							]
						},
						{
							"name": "Copy Files to Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "parquet copy to snowflake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.landing_folder_path",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "landing_zone_dfs_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.landing_container_name",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@pipeline().parameters.landing_folder_path",
											"type": "Expression"
										},
										"filename_with_extension": "*.parquet"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "archive_landing_zone_dfs_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.archive_landing_container_name",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@concat(pipeline().parameters.landing_folder_path,'/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'),'/',formatDateTime(utcNow(),'hh'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Files to Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "landing_zone_dfs_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.landing_container_name",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@pipeline().parameters.landing_folder_path",
											"type": "Expression"
										},
										"filename_with_extension": "*.parquet"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"current_object_schema": {
				"type": "string"
			},
			"landing_file_type": {
				"type": "string",
				"defaultValue": "parquet"
			},
			"landing_container_name": {
				"type": "string"
			},
			"landing_folder_path": {
				"type": "string"
			},
			"landing_file_extension": {
				"type": "string"
			},
			"archive_landing_container_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "poc_debug"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-02T19:47:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}