datafoundation_adf/pipeline/pl_landing_to_bronze_load.json
{
	"name": "pl_landing_to_bronze_load",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_landing_getfilemetadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"current_object_schema": {
							"value": "@if(empty(activity('Lookup1').output.value)        \n        ,''\n        ,activity('Lookup1').output.value[0].object_schema_script\n        )\n       ",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_latest_object_catalog_version]",
						"storedProcedureParameters": {
							"object_name": {
								"type": "String"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_procedure",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"dataload_group_code": {
				"type": "string",
				"defaultValue": "sasreference"
			},
			"dataload_activity_id": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"testnull": {
				"type": "String"
			}
		},
		"folder": {
			"name": "poc_debug"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-24T03:41:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}